{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<style>
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 15px;
        margin-top: 25px;
    }

    .text-input {
        margin-top: 80%
    }
    #message-thread{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
</style>
<h1 style="border-bottom: solid;border-width: 2px; 
border-color: rgba(0, 0, 0, 0.226); margin: 25px 25% 0 25%;">
    Chat
</h1>

<div class='container'>
    <div class="overflow-auto-msg">
        <div class = 'incoming-messages'>
            <ul id='message-thread'>
            </ul>
        </div>

        <div class="text-input">
            <div class='input-group mb-3'>                
                <input type="text" id="myMessage" , class="form-control" , style="margin: auto;">
                <div class='input-group-append'>
                    <button id="sendButton" , class="btn btn-dark"> send </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="{{url_for('static', filename='index.js')}}"></script>

{% endblock %}